## üìÅ DF1: `customer_satisfaction`

**‚Üí Í≥†Í∞ùÏÑºÌÑ∞Ïóê Î¨∏ÏùòÌïú Í≥†Í∞ùÏùò ÎßåÏ°±ÎèÑ Í∏∞Î°ù**

| Ïª¨ÎüºÎ™Ö | ÏâΩÍ≤å ÎßêÌïòÎ©¥ | ÏòàÏãú Í∞í | ÏÑ§Î™Ö |
|--------|-------------|---------|------|
| `customer_id` | Í≥†Í∞ù Î≤àÌò∏ | 495 | Í∞úÎ≥Ñ Í≥†Í∞ùÏùÑ ÏãùÎ≥ÑÌïòÎäî ID Î≤àÌò∏ |
| `contact_date` | Î¨∏Ïùò ÎÇ†Ïßú | 2023-06-16 | Í≥†Í∞ùÏù¥ Í≥†Í∞ùÏÑºÌÑ∞Ïóê Ïó∞ÎùΩÌïú ÎÇ†Ïßú |
| `contact_reason` | Î¨∏Ïùò Ïù¥Ïú† | technical, shipping Îì± | Ïñ¥Îñ§ Ïù¥Ïú†Î°ú Ïó∞ÎùΩÌñàÎäîÏßÄ (Í∏∞Ïà† Î¨∏Ï†ú, Î∞∞ÏÜ° Î¨∏Ï†ú, ÏÉÅÌíà Í¥ÄÎ†® Îì±) |
| `satisfaction_score` | ÎßåÏ°±ÎèÑ Ï†êÏàò (1~5Ï†ê ÏòàÏÉÅ) | 4.0 | Í≥†Í∞ùÏù¥ Î¨∏Ï†ú Ìï¥Í≤∞ ÌõÑ ÌèâÍ∞ÄÌïú ÎßåÏ°±ÎèÑ (5Ï†êÏù¥ Í∞ÄÏû• ÎßåÏ°±) |
| `resolution_time_hours` | Î¨∏Ï†ú Ìï¥Í≤∞ÍπåÏßÄ Í±∏Î¶∞ ÏãúÍ∞Ñ (Îã®ÏúÑ: ÏãúÍ∞Ñ) | 11.4 | Í≥†Í∞ùÏÑºÌÑ∞Í∞Ä Î¨∏Ï†úÎ•º Ï≤òÎ¶¨ÌïòÎäî Îç∞ Í±∏Î¶∞ ÏãúÍ∞Ñ |
| `repeat_contact` | Ïû¨Î¨∏Ïùò Ïó¨Î∂Ä | True / False | Í∞ôÏùÄ Î¨∏Ï†úÎ°ú Ïù¥Ï†ÑÏóêÎèÑ Ïó∞ÎùΩÌïú Ï†ÅÏù¥ ÏûàÎäîÏßÄ Ïó¨Î∂Ä (TrueÎ©¥ Ïû¨Î¨∏ÏùòÌïú Í≤ΩÏö∞) |

---

## üìÅ DF2: `customer_transactions`

**‚Üí Í≥†Í∞ùÏùò Ïã§Ï†ú ÏáºÌïë Í∏∞Î°ù**

| Ïª¨ÎüºÎ™Ö | ÏâΩÍ≤å ÎßêÌïòÎ©¥ | ÏòàÏãú Í∞í | ÏÑ§Î™Ö |
|--------|-------------|---------|------|
| `customer_id` | Í≥†Í∞ù Î≤àÌò∏ | 1 | ÏúÑ DF1Ïùò Í≥†Í∞ù IDÏôÄ ÎèôÏùºÌïòÍ≤å ÏÇ¨Ïö©Îê® |
| `registration_date` | ÌöåÏõêÍ∞ÄÏûÖÏùº | 2023-04-13 | Í≥†Í∞ùÏù¥ Ï≤òÏùåÏúºÎ°ú ÌöåÏõêÍ∞ÄÏûÖÌïú ÎÇ†Ïßú |
| `acquisition_channel` | Ïú†ÏûÖ Í≤ΩÎ°ú | email, social Îì± | Ïñ¥Îñ§ Í≤ΩÎ°ú(Í¥ëÍ≥†, Ïù¥Î©îÏùº Îì±)Î°ú Ïú†ÏûÖÎêòÏóàÎäîÏßÄ |
| `customer_segment` | Í≥†Í∞ù Îì±Í∏â | premium, basic Îì± | Í≥†Í∞ùÏùÑ Î∂ÑÎ•òÌïú Í∑∏Î£π (VIPÏù∏ÏßÄ, ÏùºÎ∞òÏù∏ÏßÄ Îì±) |
| `transaction_date` | Íµ¨Îß§ ÎÇ†Ïßú | 2023-08-22 | Ïã§Ï†úÎ°ú Î¨ºÍ±¥ÏùÑ Íµ¨Îß§Ìïú ÎÇ†Ïßú |
| `order_value` | Íµ¨Îß§ Í∏àÏï° | 104.24 | Ìï¥Îãπ Ï£ºÎ¨∏ Í±¥ÏóêÏÑú Í≤∞Ï†úÌïú Ï¥ù Í∏àÏï° |
| `product_category` | ÏÉÅÌíà Ïπ¥ÌÖåÍ≥†Î¶¨ | Books, Electronics Îì± | Ïñ¥Îñ§ Ï¢ÖÎ•òÏùò Ï†úÌíàÏùÑ ÏÉÄÎäîÏßÄ |

---

## üìÅ DF3: `marketing_performance`

**‚Üí ÏõîÎ≥Ñ ÎßàÏºÄÌåÖ ÏÑ±Í≥º ÏöîÏïΩ**

| Ïª¨ÎüºÎ™Ö | ÏâΩÍ≤å ÎßêÌïòÎ©¥ | ÏòàÏãú Í∞í | ÏÑ§Î™Ö |
|--------|-------------|---------|------|
| `month` | Ìï¥Îãπ Ïõî | 2023-01-01 | Ïù¥ Îç∞Ïù¥ÌÑ∞Í∞Ä Ïñ¥Îñ§ Îã¨Ïùò Í∏∞Î°ùÏù∏ÏßÄ |
| `channel` | ÎßàÏºÄÌåÖ Ï±ÑÎÑê | organic, paid_search Îì± | Ïñ¥Îñ§ Î∞©ÏãùÏùò ÎßàÏºÄÌåÖÏù∏ÏßÄ (Í≤ÄÏÉâ, SNS, Ïù¥Î©îÏùº, Ï∂îÏ≤ú Îì±) |
| `marketing_spend` | ÎßàÏºÄÌåÖ ÎπÑÏö© | 11,986.88 | Ìï¥Îãπ Îã¨Ïóê Í∑∏ Ï±ÑÎÑêÏóê Ïì¥ Í¥ëÍ≥†ÎπÑ |
| `new_customers` | Ïã†Í∑ú Í≥†Í∞ù Ïàò | 19 | Ïù¥ ÎßàÏºÄÌåÖÏùÑ ÌÜµÌï¥ Ïú†ÏûÖÎêú Ïã†Í∑ú Í≥†Í∞ù Ïàò |
| `website_visits` | ÏÇ¨Ïù¥Ìä∏ Î∞©Î¨∏ Ïàò | 995 | ÎßàÏºÄÌåÖÏúºÎ°ú Ïù∏Ìï¥ ÌôàÌéòÏù¥ÏßÄÏóê Î∞©Î¨∏Ìïú ÌöüÏàò |
| `conversions` | Ï†ÑÌôò Ïàò (Ï£ºÎ¨∏ Îì±) | 19 | Î∞©Î¨∏Ïûê Ï§ë Ïã§Ï†ú Íµ¨Îß§/Í∞ÄÏûÖ Îì±Ïùò ÌñâÎèôÏùÑ Ìïú ÏÇ¨Îûå Ïàò |

Î¨∏Ï†ú 1: Ï±ÑÎÑêÎ≥Ñ Í≥†Í∞ù ÌöçÎìù ÎπÑÏö©(CAC) Î∞è ÏÉùÏï† Í∞ÄÏπò(LTV) Î∂ÑÏÑù
Î™©Ìëú: ÎßàÏºÄÌåÖ Ï±ÑÎÑêÏùò ÏßÑÏ†ïÌïú ROIÎ•º ÌèâÍ∞ÄÌïòÍ∏∞ ÏúÑÌï¥ CACÏôÄ LTVÎ•º Í≥ÑÏÇ∞ÌïòÍ≥† ÏµúÏ†Å Ìà¨Ïûê Ï†ÑÎûµÏùÑ Ï†úÏïàÌïòÏÑ∏Ïöî.
1. Îç∞Ïù¥ÌÑ∞ Î°úÎìú Î∞è Ï†ÑÏ≤òÎ¶¨
2. Ï±ÑÎÑêÎ≥Ñ CAC Í≥ÑÏÇ∞
    - 2024ÎÖÑ Îç∞Ïù¥ÌÑ∞Îßå ÏÇ¨Ïö© - (2024ÎÖÑ ÎßàÏºÄÌåÖÎç∞Ïù¥ÌÑ∞Îßå ÏÇ¨Ïö© -> 24ÎÖÑ Ï±ÑÎÖàÎ≥Ñ ÎßàÏºÄÌåÖÎπÑÏö©/24ÎÖÑ Ïã†Í∑ú ÌöçÎìù Í≥†Í∞ù Ïàò)
    - Í∞Å Ï±ÑÎÑêÎ≥Ñ Ï¥ù ÎßàÏºÄÌåÖ ÎπÑÏö© ÏßëÍ≥Ñ
    - Í∞Å Ï±ÑÎÑêÎ≥Ñ Ïã†Í∑ú Í≥†Í∞ù Ïàò ÏßëÍ≥Ñ (2024ÎÖÑ Ï≤´ Í±∞Îûò Í∏∞Ï§Ä)
    - CAC = Ï¥ù ÎßàÏºÄÌåÖ ÎπÑÏö© / Ïã†Í∑ú Í≥†Í∞ù Ïàò
    - organicÍ≥º referral Ï±ÑÎÑêÏùÄ CAC = 0ÏúºÎ°ú Ï≤òÎ¶¨
3. Í≥†Í∞ùÎ≥Ñ LTV Í≥ÑÏÇ∞ - Ï†ÑÏ≤¥ Íµ¨Îß§ Ïù¥Î†• Í∏∞Î∞ò
4. Ï±ÑÎÑêÎ≥Ñ LTV Î∞è ROI Î∂ÑÏÑù - (`24ÎÖÑ Ïã†Í∑ú Í≥†Í∞ùÎì§Ïùò ÌèâÍ∑† LTV / 24ÎÖÑ CAC`)    
    - Ï±ÑÎÑêÎ≥Ñ ÌèâÍ∑† LTV Í≥ÑÏÇ∞
    - ROI = LTV / CAC Í≥ÑÏÇ∞ (organic, referralÏùÄ Î¨¥ÌïúÎåÄ Ï≤òÎ¶¨)
    - payback period = CAC / (ÏõîÌèâÍ∑† Íµ¨Îß§Í∏àÏï°) Í≥ÑÏÇ∞
5. ÏãúÍ∞ÅÌôî Î∞è Ï†ÑÎûµ Ï†úÏïà (15Î∂Ñ)
    - CAC vs LTV ÏÇ∞Ï†êÎèÑ Ï∞®Ìä∏
    - Ï±ÑÎÑêÎ≥Ñ ROI ÎßâÎåÄ Ï∞®Ìä∏
    - ÎßàÏºÄÌåÖ ÏòàÏÇ∞ Ïû¨Î∞∞Î∂Ñ Ï†úÏïà (ÌòÑÏû¨ vs ÏµúÏ†Å Î∞∞Î∂Ñ)

Î¨∏Ï†ú 2: Í≥†Í∞ù ÏΩîÌò∏Ìä∏ Î∂ÑÏÑù Î∞è Ïú†ÏßÄÏú® Í∞úÏÑ† Ï†ÑÎûµ
Î™©Ìëú: "ÏõîÎ≥Ñ Í∞ÄÏûÖ ÏΩîÌò∏Ìä∏"Ïùò Ïú†ÏßÄÏú®Í≥º Îß§Ï∂ú Í∏∞Ïó¨ÎèÑÎ•º Î∂ÑÏÑùÌïòÏó¨ Í≥†Í∞ù Ïú†ÏßÄ Ï†ÑÎûµÏùÑ ÏàòÎ¶ΩÌïòÏÑ∏Ïöî.
1. ÏΩîÌò∏Ìä∏ Í∑∏Î£π ÏÉùÏÑ±
2. ÏõîÎ≥Ñ Ïú†ÏßÄÏú® Í≥ÑÏÇ∞
    - Í∞Å Í±∞ÎûòÏùò ÏΩîÌò∏Ìä∏ ÎåÄÎπÑ Í≤ΩÍ≥º Í∞úÏõî Ïàò Í≥ÑÏÇ∞
    - ÏΩîÌò∏Ìä∏Î≥Ñ Month 0, 1, 2, ... 12ÏóêÏÑúÏùò ÌôúÏÑ± Í≥†Í∞ù Ïàò
    - Ïú†ÏßÄÏú® ÌÖåÏù¥Î∏î ÏÉùÏÑ± (ÏΩîÌò∏Ìä∏ √ó Í≤ΩÍ≥ºÏõî)
    - ÌèâÍ∑† Ïú†ÏßÄÏú® Í≥°ÏÑ† Í≥ÑÏÇ∞
3. ÏΩîÌò∏Ìä∏Î≥Ñ Îß§Ï∂ú Í∏∞Ïó¨ÎèÑ Î∂ÑÏÑù
    - Í∞Å ÏΩîÌò∏Ìä∏Ïùò ÏõîÎ≥Ñ ÎàÑÏ†Å Îß§Ï∂ú Í≥ÑÏÇ∞
    - ÏΩîÌò∏Ìä∏Î≥Ñ Í≥†Í∞ù 1Ïù∏Îãπ ÎàÑÏ†Å Îß§Ï∂ú (ARPU) Í≥ÑÏÇ∞
    - 6Í∞úÏõî ÌõÑ, 12Í∞úÏõî ÌõÑ ÏòàÏÉÅ LTV Ï∂îÏ†ï
4. Ïú†ÏßÄÏú® ÌûàÌä∏Îßµ ÏãúÍ∞ÅÌôî
5. Í∞úÏÑ† Ï†ÑÎûµ ÏàòÎ¶Ω
    - Ïú†ÏßÄÏú®Ïù¥ Í∏âÍ≤©Ìûà Í∞êÏÜåÌïòÎäî ÏãúÏ†ê ÏãùÎ≥Ñ
    - Í≥†ÏÑ±Í≥º ÏΩîÌò∏Ìä∏ vs Ï†ÄÏÑ±Í≥º ÏΩîÌò∏Ìä∏ ÌäπÏÑ± ÎπÑÍµê
    - Ïú†ÏßÄÏú® Í∞úÏÑ†ÏùÑ ÏúÑÌïú Ïï°ÏÖò ÏïÑÏù¥ÌÖú 3Í∞ÄÏßÄ Ï†úÏïà

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings

warnings.filterwarnings('ignore', category=UserWarning)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [4]:
customer_satisfaction = pd.read_csv('./customer_satisfaction.csv')
customer_transactions = pd.read_csv('./customer_transactions.csv')
marketing_performance = pd.read_csv('./marketing_performance.csv')

In [5]:
customer_satisfaction['contact_date'] = pd.to_datetime(customer_satisfaction['contact_date'])
customer_transactions['registration_date'] = pd.to_datetime(customer_transactions['registration_date'])
customer_transactions['transaction_date'] = pd.to_datetime(customer_transactions['transaction_date'])
marketing_performance['month'] = pd.to_datetime(marketing_performance['month'])

2. Ï±ÑÎÑêÎ≥Ñ CAC Í≥ÑÏÇ∞
    - 2024ÎÖÑ Îç∞Ïù¥ÌÑ∞Îßå ÏÇ¨Ïö© - (2024ÎÖÑ ÎßàÏºÄÌåÖÎç∞Ïù¥ÌÑ∞Îßå ÏÇ¨Ïö© -> 24ÎÖÑ Ï±ÑÎÖàÎ≥Ñ ÎßàÏºÄÌåÖÎπÑÏö©/24ÎÖÑ Ïã†Í∑ú ÌöçÎìù Í≥†Í∞ù Ïàò)
    - Í∞Å Ï±ÑÎÑêÎ≥Ñ Ï¥ù ÎßàÏºÄÌåÖ ÎπÑÏö© ÏßëÍ≥Ñ
    - Í∞Å Ï±ÑÎÑêÎ≥Ñ Ïã†Í∑ú Í≥†Í∞ù Ïàò ÏßëÍ≥Ñ (2024ÎÖÑ Ï≤´ Í±∞Îûò Í∏∞Ï§Ä)
    - CAC = Ï¥ù ÎßàÏºÄÌåÖ ÎπÑÏö© / Ïã†Í∑ú Í≥†Í∞ù Ïàò
    - organicÍ≥º referral Ï±ÑÎÑêÏùÄ CAC = 0ÏúºÎ°ú Ï≤òÎ¶¨

In [14]:
cac_per_channel = marketing_performance[marketing_performance['month'].dt.year == 2024].groupby('channel').agg({
    'marketing_spend': 'sum',
    'new_customers': 'sum'
}).rename(columns={
    'marketing_spend': 'marketing_spend_sum',
    'new_customers': 'new_customers_sum'
}).reset_index()

cac_per_channel['cac_2024'] = cac_per_channel.apply(
    lambda row: 0 if row['channel'] in ['organic', 'referral']
    or row['new_customers_sum'] == 0
    else round(row['marketing_spend_sum'] / row['new_customers_sum'], 2),
    axis=1
)

cac_per_channel = cac_per_channel.sort_values('cac_2024', ascending=False).reset_index(drop=True)
cac_per_channel

        channel  marketing_spend_sum  new_customers_sum  cac_2024
0   paid_search         97849.029394                224    436.83
1  social_media         59628.676756                182    327.63
2         email         17763.268813                158    112.43
3       organic             0.000000                302      0.00
4      referral         11867.432377                106      0.00

3. Í≥†Í∞ùÎ≥Ñ LTV Í≥ÑÏÇ∞ - Ï†ÑÏ≤¥ Íµ¨Îß§ Ïù¥Î†• Í∏∞Î∞ò

In [ ]:
cust_ltv = customer_transactions.groupby('customer_id').agg({
    'order_value': 'sum',
    'transaction_date': ['count', 'max'],
    'registration_date': 'first'
})

cust_ltv.columns = ['_'.join(col) for col in cust_ltv.columns]
cust_ltv = cust_ltv.rename(columns={
    'order_value_sum': 'total_revenue',
    'transaction_date_count': 'transaction_count',
    'registration_date_first': 'registration_date'
}).reset_index()

cust_ltv['cust_lifespan_d'] = (cust_ltv['transaction_date_max'] - cust_ltv['registration_date']).dt.days + 1

# ÏòàÏô∏Í∞í Ï†úÍ±∞(Boolean Masking)
cust_ltv = cust_ltv[(cust_ltv['cust_lifespan_d'] > 0) & (cust_ltv['transaction_count'] > 0)]

cust_ltv['total_ltv'] = cust_ltv['total_revenue']
cust_ltv['ltv_per_trans'] = (cust_ltv['total_revenue'] / cust_ltv['transaction_count']).round(2)
cust_ltv['ltv_per_days'] = (cust_ltv['total_revenue'] / cust_ltv['cust_lifespan_d']).round(2)
cust_ltv

,customer_id,total revenue,transaction_count,transaction_date_max,registration_date,cust_lifespan_d,total_ltv,ltv_per_trans,ltv_per_days
0,1,924.73,8,2024-09-23,2023-04-13,530,924.73,115.591250,1.744774
1,2,122.59,2,2023-09-09,2023-05-11,122,122.59,61.295000,1.004836
2,3,72.52,2,2024-06-21,2024-03-30,84,72.52,36.260000,0.863333
3,4,345.55,5,2024-12-14,2024-04-21,238,345.55,69.110000,1.451891
4,5,689.06,5,2024-12-22,2024-04-16,251,689.06,137.812000,2.745259
...,...,...,...,...,...,...,...,...,...
973,996,329.70,4,2024-10-16,2023-11-10,342,329.70,82.425000,0.964035
974,997,1027.43,9,2024-09-16,2023-04-20,516,1027.43,114.158889,1.991143
975,998,190.67,2,2024-12-08,2024-06-07,185,190.67,95.335000,1.030649
976,999,25.21,1,2024-07-30,2024-07-06,25,25.21,25.210000,1.008400
977,1000,115.52,2,2024-12-30,2024-05-04,241,115.52,57.760000,0.479336

4. Ï±ÑÎÑêÎ≥Ñ LTV Î∞è ROI Î∂ÑÏÑù - (`24ÎÖÑ Ïã†Í∑ú Í≥†Í∞ùÎì§Ïùò ÌèâÍ∑† LTV / 24ÎÖÑ CAC`)    
    - Ï±ÑÎÑêÎ≥Ñ ÌèâÍ∑† LTV Í≥ÑÏÇ∞
    - ROI = LTV / CAC Í≥ÑÏÇ∞ (organic, referralÏùÄ Î¨¥ÌïúÎåÄ Ï≤òÎ¶¨)
    - payback period = CAC / (ÏõîÌèâÍ∑† Íµ¨Îß§Í∏àÏï°) Í≥ÑÏÇ∞

In [73]:
revenue_per_channel = customer_transactions.groupby([customer_transactions['transaction_date'].dt.to_period('M').dt.to_timestamp(), 'acquisition_channel']).agg({
    'customer_id': 'count',
    'order_value': 'sum'
}).rename(columns={
    'customer_id': 'order_count'
}).reset_index()

channel_summary = pd.merge(marketing_performance, revenue_per_channel, how='left', left_on=['month', 'channel'], right_on=['transaction_date', 'acquisition_channel'])
channel_summary = channel_summary.drop(['transaction_date', 'acquisition_channel'], axis=1)
channel_summary

,month,channel,marketing_spend,new_customers,website_visits,conversions,order_count,order_value
0,2023-01-01,organic,0.000000,28,511,28,7.0,477.54
1,2023-01-01,paid_search,11986.882840,19,995,19,5.0,445.55
2,2023-01-01,social_media,4235.453095,17,1048,17,4.0,335.78
3,2023-01-01,email,1693.773605,17,1037,17,NaN,NaN
4,2023-01-01,referral,887.489645,10,958,10,NaN,NaN
...,...,...,...,...,...,...,...,...
115,2024-12-01,organic,0.000000,27,505,27,51.0,4928.69
116,2024-12-01,paid_search,6149.273297,20,999,20,44.0,3555.59
117,2024-12-01,social_media,4668.252208,14,1028,14,26.0,2488.23
118,2024-12-01,email,1496.013316,9,1013,9,39.0,3086.51
119,2024-12-01,referral,556.666897,7,986,7,16.0,1696.64

5. ÏãúÍ∞ÅÌôî Î∞è Ï†ÑÎûµ Ï†úÏïà (15Î∂Ñ)
    - CAC vs LTV ÏÇ∞Ï†êÎèÑ Ï∞®Ìä∏
    - Ï±ÑÎÑêÎ≥Ñ ROI ÎßâÎåÄ Ï∞®Ìä∏
    - ÎßàÏºÄÌåÖ ÏòàÏÇ∞ Ïû¨Î∞∞Î∂Ñ Ï†úÏïà (ÌòÑÏû¨ vs ÏµúÏ†Å Î∞∞Î∂Ñ)