### 11번. 1부터 100까지 숫자 중 5의 배수만 리스트에 저장하여 출력하세요.

리스트 내포(List Comprehension)를 사용해도 좋습니다.

📌 출력 예시:
```
[5, 10, 15, ..., 100]
```

In [46]:
five_list = []
num = 0

while num < 100:
    num += 5
    five_list.append(num)
print(five_list)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
five_list2 = list(range(5, 101, 5))
print(five_list2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [ ]:
# 리스트 내포(List Comprehension)
five_list3 = [num for num in range(5, 101, 5)]
print(five_list3)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

### 12번. 짝수만 필터링하여 새로운 리스트 만들기

다음 리스트에서 짝수만 골라 새로운 리스트로 만드세요:
```python
nums = [1,2,3,4,5,6,7,8,9,10]
```
📌 출력 예시:
```
[2, 4, 6, 8, 10]
```

In [3]:
nums = [1,2,3,4,5,6,7,8,9,10]
even_nums = []

for num in nums:
    if num % 2 == 0:
        even_nums.append(num)

print(even_nums)

[2, 4, 6, 8, 10]

In [4]:
# 리스트 내포(List Comprehension)
evne_nums2 = [num for num in nums if num % 2 == 0]
print(evne_nums2)

[2, 4, 6, 8, 10]

### 13번. 딕셔너리에서 가장 비싼 과일 찾기

다음 딕셔너리에서 가격이 가장 높은 과일과 그 가격을 출력하세요:
```python
fruits = {'apple': 1000, 'banana': 500, 'orange': 800}
```

In [12]:
# 컨베이너를 돌려서 확인하자

fruits = {'apple': 1000, 'banana': 500, 'orange': 800}

max_price = max(fruits.values())

for k, v in fruits.items():
    if v == max_price:
        print(k, v)

apple 1000

### 14번. 구구단 3단 출력하기

for문을 사용하여 구구단 3단을 출력하세요.

📌 출력 예시:
```
3 x 1 = 3
3 x 2 = 6
...
3 x 9 = 27
```

In [13]:
for i in range(1, 10):
    print(f'3 x {i} = {3 * i}')

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

### 15번. 문자열에서 각 문자 개수 세기

사용자로부터 문자열을 입력받아, 각 문자가 몇 번 나오는지 딕셔너리 형태로 출력하세요.

📌 예시 입력: `hello`
📌 예시 출력: `{'h':1, 'e':1, 'l':2, 'o':1}`

In [26]:
text = input("문자열을 입력하세요: ")
text_dict = {}

for char in set(text):
    text_dict[char] = text.count(char)

print(text_dict)

{'h': 1, 'o': 1, 'l': 2, 'e': 1}

In [27]:
text = input("문자열을 입력하세요: ")
text_dict2 = {}

for char in text:
    if char not in text_dict2:
        text_dict2[char] = text.count(char)

print(text_dict2)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

## 복습 필요!!

In [28]:
text = input("문자열을 입력하세요: ")
text_dict3 = {}

for char in text:
    text_dict3[char] = text_dict3.get(char, 0) + 1

print(text_dict3)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

### 첫 글자: `'h'`

```python
python
복사편집
text_dict.get('h', 0)  # 딕셔너리에 'h'가 없으니까 0
text_dict['h'] = 0 + 1  # 결과: {'h': 1}

```

### 두 번째 글자: `'e'`

```python
python
복사편집
text_dict.get('e', 0)  # 없으니까 0
text_dict['e'] = 0 + 1  # 결과: {'h': 1, 'e': 1}

```

### 세 번째 글자: `'l'`

```python
python
복사편집
text_dict.get('l', 0)  # 없으니까 0
text_dict['l'] = 0 + 1  # 결과: {'h': 1, 'e': 1, 'l': 1}

```

### 네 번째 글자: `'l'` (이미 있음!)

```python
python
복사편집
text_dict.get('l', 0)  # 이미 1 있으니까 1
text_dict['l'] = 1 + 1  # 결과: {'h': 1, 'e': 1, 'l': 2}

```

### 16번. 리스트 정렬과 최대/최소 값 찾기

다음 리스트를 오름차순으로 정렬하고, 가장 큰 값과 가장 작은 값을 출력하세요:
```python
nums = [3, 1, 4, 1, 5, 9, 2, 6]
```

In [29]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]
nums.sort()
print(nums[-1], nums[0])

9 1

In [30]:
nums = [3, 1, 4, 1, 5, 9, 2, 6]
print((sorted(nums)[-1]), (sorted(nums)[0]))

9 1

### 17번. 회문(Palindrome) 검사

입력받은 단어가 앞에서 읽든 뒤에서 읽든 같은 단어인지 확인하는 프로그램을 작성하세요.

📌 예시: `level` → 회문 / `hello` → 회문 아님

In [32]:
word = input("단어를 입력하세요: ")

if word == word[::-1]:
    print('회문')
else:
    print('회문 아님')

회문 아님

### 18번. 집합 연산: 합집합, 교집합, 차집합

다음 두 집합의 합집합, 교집합, 차집합을 구하세요:
```python
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
```

In [33]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)
print(A & B)
print(A - B)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

### 19번. 1부터 n까지의 합 구하기

사용자로부터 정수 n을 입력받아 1부터 n까지의 합을 구하는 프로그램을 작성하세요.

In [37]:
n = int(input("정수를 입력하세요: "))

print(int(n * (n + 1) / 2))

55

In [36]:
n = int(input("정수를 입력하세요: "))
total = 0

for i in range(1, n+1):
    total += i

print(total)

55

### 20번. 리스트에서 중복 제거

다음 리스트에서 중복된 값을 제거하고 유일한 값만 남긴 리스트를 출력하세요:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [38]:
nums = [1, 2, 2, 3, 4, 4, 5]

distinct_list = list(set(nums))
print(distinct_list)

[1, 2, 3, 4, 5]